<div class="porfolio d-flex justify-content-center align-items-center py-5">
    <div class="container">
        <div class="title text-center">
            <h2 class="h1 fw-bold text-uppercase">portfolio component</h2>
            <span class="star"><i class="fa-solid fa-star"></i></span>
        </div>
        <div class="row pt-3 g-3">
            <div class="col-lg-4 col-md-12">
                <div class="gallery-item" data-bs-toggle="modal" data-bs-target="#pic1">
                    <img src="assets/images/poert1.png" class="w-100" alt="">
                    <div class="overlay">
                        <i class="fa-5x text-white fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="gallery-item" data-bs-toggle="modal" data-bs-target="#pic2">
                    <img src="assets/images/port2.png" class="w-100" alt="">
                    <div class="overlay">
                        <i class="fa-5x text-white fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="gallery-item" data-bs-toggle="modal" data-bs-target="#pic3">
                    <img src="assets/images/port3.png" class="w-100" alt="">
                    <div class="overlay">
                        <i class="fa-5x text-white fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3 g-3">
            <div class="col-lg-4 col-md-12">
                <div class="gallery-item" data-bs-toggle="modal" data-bs-target="#pic1">
                    <img src="assets/images/poert1.png" class="w-100" alt="">
                    <div class="overlay">
                        <i class="fa-5x text-white fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="gallery-item" data-bs-toggle="modal" data-bs-target="#pic2">
                    <img src="assets/images/port2.png" class="w-100" alt="">
                    <div class="overlay">
                        <i class="fa-5x text-white fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="gallery-item" data-bs-toggle="modal" data-bs-target="#pic3">
                    <img src="assets/images/port3.png" class="w-100" alt="">
                    <div class="overlay">
                        <i class="fa-5x text-white fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Script -->
        <div class="modal fade" id="pic1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <img src="assets/images/poert1.png" alt="">
                </div>
            </div>
        </div>
        <div class="modal fade" id="pic2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <img src="assets/images/port2.png" alt="">
                </div>
            </div>
        </div>
        <div class="modal fade" id="pic3">
            <div class="modal-dialog">
                <div class="modal-content">
                    <img src="assets/images/port3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>